<template name="about">
  <div class="row">
    <div class="col-xs-12">
      <h3>About NotAlone.com</h3>
      <p>Hello, folks. We're NotAlone. I'm NotAlone, you're NotAlone, and everyone else is NotAlone.
         What does this all mean? Well, I like to put it this way:</p>
      <p>There are six, almost seven billion people on this planet we call home.
         However, some people still feel lonely wherever they are. It's understandable why
         you may feel that way, but that is definitely not true.</p>
      <p>We aim to bring together everyone, whether they feel that way or not.
         We want to eliminate that ugly feeling of loneliness, because it doesn't
         feel good. It never will. We hope you enjoy the company of everyone here.</p>
    </div>
  </div>
</template>
