<template name="powered">
    <div class="row">
        <div class="col-xs-12">
            <h3>What We're Made Of</h3>
            <p>For all you technology geeks out there, we're using a web application framework called Meteor
            to build the bare bones of NotAlone.com. Not only can we write significantly fewer lines of code with it,
            but Meteor allows us to focus more on creating responsive applications as well. It also has a plethora of
            installable packages to suit all needs. For instance, we're using a package to manage the accounts
            system.</p>

            <p>We're also using Bootstrap, a popular web framework for creating responsive web applications.
                Bootstrap allows us to shape the site's overall look, making it much easier on your eyes. Bootstrap
                also automatically scales websites so that they are viewable on your mobile device.</p>
        </div>
    </div>
</template>