.navbar {
  background-color: yellow;
}

.navbar-header {
  margin-top: 2px;
}

.footer-links {
  text-align: center;
}

.channels {
  height: 50vh;
  border: thick black solid;
  overflow-y: scroll;
}

#addChannel {
  width: 100%;
  padding: 5px;
}

.room {
  height: 50vh;
  border: thick black solid;
  overflow-y: scroll;
}

.enter {
  width: 100%;
  padding: 3px;
}

#channame {
  display: none;
  width: 100%;
}
